body {
  animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.page-container{
  display: flex;
  flex-direction: column;
  column-width: 10vh auto 10%;
  align-items:center;
  justify-content: center;
  margin-top: 7vh;
  row-gap: 10vh;

}
.page-container p{
  font-size: clamp(1.5rem, 5vw, 2rem);
}

.main-content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:start;
  width: 90vw;
}
.costumization-window{
  display: grid;
  background: url("../assets/images/costumization-window.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 3;
  height: 300px;
  width: 250px;
  grid-template-columns: repeat(2, calc(40% - 8px));
  grid-template-rows: 30% 30% 30%;
  justify-content: center;
  align-items: center;
  filter:
    drop-shadow(0 0 2px #dc7dff)
    drop-shadow(0 0 5px #e57dff);
  
}
.option{
  margin-top: 30px;
  scale: 0.5;
}

.character-space{
  position: fixed;
  top: calc(43vh - (200px / 2));
  left: calc(50vw - (var(--width) / 2));
  height: 400px;
  width: var(--width);
}
.character{
  height: max-content;
  width: var(--width);
  filter:
    drop-shadow(0 0 2px #7debff)
    drop-shadow(0 0 5px #7dc9ff);
  animation: character-glow 2s infinite alternate;
}
.info-window{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("../assets/images/character-info-window.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 3;
  height: 90px;
  width: 150px;
  filter:
    drop-shadow(0 0 2px #dc7dff)
    drop-shadow(0 0 5px #e57dff);

}
.info-window .name-input-text{
  font-size: 10px;
}
.name-input{
  font-size: 10px;
  height: 20px;
  width: calc(90% - 10px);
} 

.button-container{
  display: flex;
  flex-direction: row;
  width: 70vw;
  justify-content: space-between;
  align-items: center;
}
.home-button{
  background: url("../assets/images/home-button.png");
  height: 50px;
  width: 180px;
}
.create-button{
  background: url("../assets/images/save-character-button.png");
  height: 40px;
  width: 150px;
}
.home-button,
.create-button{
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
  
  font-family: Pirata One, Arial;
  font-weight: 400;
  font-size: 1rem;
  filter:
      drop-shadow(0 0 2px #dc7dff)
      drop-shadow(0 0 5px #e57dff);
}

@keyframes cyber-glow {
  from {
    filter:
      drop-shadow(0 0 2px #dc7dff)
      drop-shadow(0 0 5px #e57dff);
  }

  to {
    filter:
      drop-shadow(0 0 5px #dc7dff)
      drop-shadow(0 0 8px #e57dff)
      drop-shadow(0 0 16px #cf7dff);
  }
}

@keyframes character-glow {
  from {
    filter:
      drop-shadow(0 0 2px #7debff)
      drop-shadow(0 0 5px #7dc9ff);
  }

  to {
    filter:
      drop-shadow(0 0 2px #7debff)
      drop-shadow(0 0 5px #7dc9ff)
      drop-shadow(0 0 16px #7dbeff);
  }
}

.costumization-window:hover,
.info-window:hover,
.home-button:hover,
.create-button:hover{
  animation: cyber-glow 2s infinite alternate;
}
.home-button:hover,
.create-button:hover{
  color: rgb(158, 47, 238);
}



/* For less than 980px x 460px there will be a new format. */



/*
.builder-title-container{
  grid-area: item1;
  justify-content: center;
  
}

.character{
  display: flex;
  position: relative;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
}

.character img{
  height: clamp(100px, 50vh, 200px);
  width: auto;
  position: absolute;
  
  padding-bottom: 220px;
  margin-top: 8vw;
}
.window-grid{
  display: flex;
  position: relative;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content:center;
}
.costumization-window{
  display: flex;
  position: absolute;
  height: clamp(200px, 40vw, 400px);
  left: 20px;
  bottom: 50vh;
  flex-wrap: wrap;

  gap: 16px;

  
}
.skin-color{
  width: calc(50% -8px);

}
.hair-style{
  width: calc(50% -8px);

}
.hair-color{
  width: calc(50% -8px);
 
}
.armor{
  width: calc(50% -8px);

}
.weapon{
  width: calc(50% -8px);
  top: 75px;
  left: 75px;
}


.info-window{
  display: flex;
  position: absolute;
  height: clamp(100px, 20vw, 200px);
  right: 20px;
  bottom: calc(50vh + 100px);
  
}
*/