body {
  margin: 0;
  background-color: black;
  background-image: url('../assets/images/background-image.png');
  background-size: clamp(300px, 50vw, 500px);
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  overflow: hidden;
}

.border-detail-up-left {
  position: absolute;
  top: 0px;
  left: 0px;
  height: clamp(100px, 20vw, 200px);
  margin-left: 5px;

}

.border-detail-up-right {
  position: absolute;
  top: 0px;
  right: 0px;
  height: clamp(100px, 20vw, 200px);
  transform: scaleX(-1);
}

.border-detail-down-right {
  position: absolute;
  bottom: 0px;
  right: 0px;
  height: clamp(100px, 20vw, 200px);
}

.border-detail-down-left {
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: clamp(100px, 20vw, 200px);
}

.site-grid{
  display: grid;
  grid-template-rows: 20px 20vh 30vh 50vh 30px ;
  grid-template-columns: 1fr;
  grid-template-areas: 
  "."
  "item1"
  "."
  "item2"
  "."
  ;
}



.banner {
  grid-area: item2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  text-align: center;
  position: relative;
}

.banner .slider {
  position: absolute;
  width: 200px;
  height: 100px;
  top: 10vh;
  left: calc(50% - 100px);
  transform-style: preserve-3d;
  transform: perspective(1200px);
  animation: autoRun 20s linear infinite;
}

.banner .slider .crystal-core {
  position: absolute;
  inset: 0 0 0 0;
  transform:
    translateZ(0px) translateY(-150px) translateX(-18px) scale(0.3);
}

.banner .slider .item {
  position: absolute;
  inset: 0 0 0 0;
  transform: rotateY( calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)) translateZ(150px) translateY(-85px);

  transition: filter 0.5s;
  transition: 0.5s cubic-bezier(.49,-0.88,.48,1.68);
}

@keyframes autoRun {
  from {
    transform: perspective(1000px)
    rotateX(-22deg) rotateY(0deg);
  }

  to {
    transform: perspective(1000px)
    rotateX(-22deg) rotateY(360deg);
  }
}


.banner .slider .item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.banner .slider:hover .item{
  filter: grayscale(1);
}

.banner .slider .item:hover {
  filter: grayscale(0);
  transform: rotateY( calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)) translateZ(150px) translateY(-85px) scale(1.2);
}

.crystal-core{
  pointer-events: none;
}

.item{
  cursor: pointer;
  pointer-events: auto;
}
