.race-name{
  margin-top: 0;
  color: white;
  font-size: 10px;
}

.title-container {
  grid-area: item1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(calc(clamp(0px, 15vw, 50px) * -1));
  padding-top: 25vh;
}

.builder-title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-title {
  font-family: Pirata One, Arial;
  font-weight: 400;
  font-size: clamp(35px, 5vw, 50px);
  margin: 40px 5px 3px;
  color: white;
}

.subtitle {
  font-family: Kaushan Script, Arial;
  font-weight: 400;
  font-size: 15px;
  margin: 1px;
  color: white;
}

.character-builder-title {
  font-family: Pirata One, Arial;
  font-weight: 400;
  font-size: clamp(35px, 5vw, 50px);
  margin: 40px 5px 3px;
  color: white;
}
